<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start end" class="card p-2 bg-stone-500">
  <button mat-raised-button color="primary" class="me-2 mb-2">Primary</button>
  <button mat-raised-button color="primary" class="me-2 mb-2">Primary</button>
  <button mat-raised-button color="primary" class="me-2 mb-2">Primary</button>
  <button mat-raised-button color="primary" class="me-2 mb-2">Primary</button>
  <div class="flex-1"></div>
  <span class="me-1 font-bold text-yellow-200">
    PAGE NOW
  </span>
</div>
