.head-link :hover {
  transition: ease 0.25s;
  opacity: 80%;
  color: red;
  // font-weight: 900;
}

html {
  height: 100%;
  background: #223;
  display: grid;
  place-items: center;
}

.is-active {
  opacity: 80%;
  color: red;
  // font-weight: 900;
}
