<div
  class="w-100"
  fxLayout="row wrap"
  fxLayoutAlign="center stretch"
  style="width: 100vh !important"
>
  <app-sub-head fxFlex="100"></app-sub-head>
  <!-- <app-group-chart *ngIf="data2" fxFlex="100" [data]="data2"></app-group-chart>
  <app-no-group-chart
    *ngIf="data"
    fxFlex="100"
    [data]="data"
  ></app-no-group-chart> -->
  <ng-container *ngFor="let item of chartData; let i = index">
    <div
      id="chart{{ i }}"
      style="width: 100%; height: 500px; margin-top: 3rem"
    ></div>
  </ng-container>
</div>
