input {
  width: 100px !important;
  text-align: left; /* Reset text alignment */
  padding: 5px 10px; /* Adjust the padding to center the text vertically */
  line-height: 1; /* Set the line-height to match the height of the input */
  text-align: center; /* Center the text */
}
thead {
  border-collapse: separate;
  border: 1px solid;
  padding: 5px;
}
tbody {
  border-collapse: separate;
  border: 1px solid;
  font-weight: normal;
}

th {
  padding: 10px;
  text-align: center;
  border: 1px solid;
}

td {
  padding: 3px 10px;
  border-right: 1px solid black;
}
